{% extends "index.html" %}
{% load static %}

 
 {%block main%}.
 <h1>¡Hola! <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
  </svg> </h1>
  <img height="256px" src="media/avatares/foto-perfil.jpeg">

  <p> Bienvenidos, mi nombre es Dayana y me estoy iniciando en el mundo de la programacion....<br>

    En la el camino hacia la  busqueda de un emprendimiento propio el cual lo inicie con estetica de manos (actualmente soy empleada
    hace 10 años en una Farmacia, nada tiene que ver con informatica) y bueno me tope con gente conocida que me comenzo a hablar codigo
    y mi interes crecio.

    Desde muy temprana edad tuve acceso a computadoras y demas lo que genero en mi mayor interes y curiosidad a lo largo del tiempo.
    Mi primer contacto por asi decirlo con el codigo fue a traves de videojuegos, modificando el codigo de los archivos internos 
    (metiendo la pata por asi decirlo jaja) despues intente aprender de manera autodidacta y me resultaba muy dificil ya que no
    tenia nada de conocimiento sobre el tema. Recorde que durante el tiempo en pandemia 
    miraba un programa en you-tube donde promocionaban la plataforma CODERHOUSE y bueno aca estamos.
    Esta es una muestra de lo que aprendi y un boton de inicio hacia este nuevo mundo del cual me enamore.
    Gracias! 
</p>

 
 {% endblock %}