{% extends "index.html" %}

{% load static %}

{% block title_head %}
Eliminar Mensajes
{% endblock title_head %}

{% block h1_header %}
Eliminando Mensaje
{% endblock h1_header %}

{% block main %}

{% comment %} <form action={% url "eliminar_mensaje" Mensaje.id %} method="POST"> {% endcomment %}

<form method="post">
    {% csrf_token %}
    <p> "Estas seguro que quiere borrar el mensaje de {{ mensaje.asunto }}? 
    </p>
    
    <input class="btn btn-danger" type="submit" value="Borrar">
    <a class="btn btn-primary" href="{% url 'lista_mensaje' %}">Cancelar</a>

</form>


{%endblock%}