{% extends "index.html" %}

{% block title_head %}
Mensajes
{% endblock title_head %}

{% block h1_header %}

<h1> Mis Mensajes </h1>

{% endblock h1_header %}

 {% block main %}
 <a href={% url "crear_mensaje" %}>Crear Mensaje </a>

 {% if mensajes %}

 <ul>
     {%  for mensajes in mensajes  %}
     <a href="{% url 'ver_mensaje' mensajes.pk %}">Asunto:{{mensajes.asunto}}  De: {{mensajes.remitente}} {{mensajes.fecha}}</a>
     <li> Mensaje de: {{mensajes.remitente}} 
         <br> 
         {{ mensajes.cuerpo }}
         <br>
         
                </li>
           {% endfor %}
           
           {% else %}
           
        </ul>
<p> No tenes mensajes!...<p>
    <a href="{% url 'crear_mensaje' %}">
    {% endif %}

{% endblock main%}