{% extends "index.html" %}

{% block title_head %}
Mensajes
{% endblock title_head %}

{% block h1_header %}

<h1> Mis Mensajes </h1>

{% endblock h1_header %}

 {% block main %}
 <a href={% url "crear_mensaje" %}>Crear Mensaje </a>

 {% if mensaje %}

 <ul>
     {%  for mensaje in mensajes  %}
     <li> Mensaje de: {{mensaje.remitente}} 
         <br> 
         {{ mensaje.cuerpo }}
         <br>
         <a href="{% url 'ver_mensaje' mensaje.pk %}">{{mensaje.asunto}}</a> De
         {{mensaje.remitente}}
                </li>
           {% endfor %}
           
           {% else %}
           
        </ul>
<p> No tenes mensajes!...<p>
    <a href="{% url 'crear_mensaje' %}">
    {% endif %}

{% endblock main%}