{% extends "index.html" %}
{% load static %}

{% block title_head %}
Ver Publicacion

{% endblock title_head %}



{% block h1_header %}
<img src='{{servicio.image.url}}' alt='{{servicio.nombre}}' width="369" height="369">  
                  {{servicio.Nombre}}

{% endblock h1_header %}

{% block main %}

<ul>
    <li>Servicio: {{servicio.Nombre}} </li>
    <li>Descripcion: {{servicio.Descripcion}} </li>
    <li>Fecha: {{servicio.fecha}} </li>
    <li>Telefono: {{servicio.telefonocontacto}} </li>

</ul>
{% endblock main %}